{# This page inherits from base.html #}
{% extends 'layout.html.twig' %}

{# Define Title #}
{% block title %} Livres Disponibles {% endblock %}

{#  Breadcrumb trail #}
{% set active_page = 'Disponible' %}


{# Define Content #}
{% block content %}

    <div class="row">

        <h1> Livres disponibles </h1>

        <!-- List: liberated books -->
        <div class="row">
            {% if bookList is empty %}
                <div>
                    <p> Aucun livre n'a encore été libéré sur ce site.</p>
                </div>
            {% else %}
                {% for book in bookList %}
                    <div class="card col-md-12">
                        <img class="card-img-top img img-responsive col-md-2" src="{{ book.photo_book }}" alt="Card image cap">
                        <div class="card-block col-md-10">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h4 class="card-title">{{ book.title_book }}</h4>
                                    <p> {{ book.summary_book }} </p>
                                </li>
                                <li class="list-group-item">Auteur: {{ book.firstname_author }} {{ book.lastname_author }}</li>
                                <li class="list-group-item">
                                    <p>Membre partageant ce livre: {{ book.pseudo_capture }}</p>
                                    {# If the user is connected (a member) #}
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                        {# If the 2 members are not already in contact #}
                                        {% if global.request.get('addFriend') == 'success' and global.request.get('friend') == book.pseudo_capture %}
                                            <div class="alert alert-success">
                                                <p><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                    Votre demande a bien été effectuée.
                                                </p>
                                            </div>
                                        {% endif %}
                                        {#  If one of the 2 member already ask for contact #}
                                        {% if global.request.get('addFriend') == 'exist' and global.request.get('friend') == book.pseudo_capture %}
                                            <div class="alert alert-danger">
                                                <p><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                    Demande en attente.
                                                </p>
                                            </div>
                                        {% endif %}
                                        <a href="{{ path('livresVoyageurs_addFriend', {pseudo:  book.pseudo_capture} ) }}" alt="ajouter ce membre en ami" class="btn btn-primary"> Entrer en contact </a> 
                                    {# If the user is not connected #}
                                    {% else %}
                                        <a href="{{ path('livresVoyageurs_inscription') }}" alt="Liens vers l'inscription" class="btn btn-primary"> Inscrivez-vous pour capturer ce livre </a>
                                    {% endif %}
                                </li>
                                <div class="card-footer text-muted">
                                    <li>Date de libération: {{ book.date_book | date("d/m/Y")  }}</li>
                                </div>
                                <a href="#" class="btn btn-primary col-md-12">Suivre son chemin</a>
                            </ul>
                        </div> <!-- card block -->
                    </div> <!-- card col-md -->
                {% endfor %}
            {% endif %} <!-- list empty -->
        </div> <!-- row -->


    </div>

{% endblock %}