{# This page inherits from base.html #}
{% extends 'layout.html.twig' %}

{# Customized error messages #}
{% form_theme form 'form_errors.html.twig' %}

{# Define Title #}
{% block title %} Contact {% endblock %}

{#  Breadcrumb trail #}
{% set active_page = 'Contact' %}

{# Define Content #}
{% block content %}

    <h1> Contact </h1>

    <section id="contact">
        <div class="container">
            <div class="row" id="contactForm">
                <div class="animation" id="myMap"></div>
                <div class="col-md-offset-3 col-md-6" id="form">

                    {% if sendMessage is defined %}
                        <div class="alert alert-success">
                            <p>Votre message a bien été envoyé</p>
                        </div>
                    {% else %}
                    <form id="sendMsg" method="post" action="">

                        <div class="form-group">
                            <label for="name">Nom *</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                {{ form_widget(form.name) }}
                            </div>
                            {{ form_errors(form.name) }}
                        </div>
                        <div class="form-group">
                            <label for="mail">Email *</label>
                            <div class="input-group">
                                <div class="input-group-addon">@</div>
                                {{ form_widget(form.mail) }}
                            </div>
                            {{ form_errors(form.mail) }}
                        </div>
                        <div class="form-group">
                            <label for="message">Message *</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-align-left"></i></span>
                                {{ form_widget(form.message) }}
                            </div>
                            {{ form_errors(form.message) }}
                        </div>
                        <p>
                            <span class="required"></span>
                            <em>* Champs obligatoires</em>
                        </p>
                        <div class="form-group">
                            <input type="submit" name="btnSub" Value="Envoyer" class="btn">
                        </div>

                        {{ form_row(form._token) }}
                    </form>

                    {% endif %}
                </div> <!-- col -->
            </div> <!-- row -->

        </div> <!-- container -->
        <div class="divider"></div>
    </section>

{% endblock %}
