{# This page inherits from base.html #}
{% extends 'layout.html.twig' %}

{# Define Title #}
{% block title %} Histoire de votre livre {% endblock %}

{#  Breadcrumb trail #}
{% set active_page = 'Espace' %}


{# Define Content #}
{% block content %}

    <div class="row">

        <h1> Histoire de votre livre </h1>

        <div id="map"></div>

    </div>
    {% for stor in story %}
        <div class="startpoint ">
            <p class="lat_startpoint">{{ stor.lat_startpoint }}</p>
            <p class="lng_startpoint">{{ stor.lng_startpoint }}</p>
            <p class="city_startpoint">{{ stor.city_startpoint }}</p>
            <p class="pseudo_startpoint">{{ stor.pseudo_member }}</p>
            <p class="date_startpoint">{{ stor.date_book | date('d/m/Y') }}</p>
            <p class="avatar_startpoint">{{ stor.avatar_member }}</p>

        </div>
        {% if not stor.lat_pointer == 0 %}
            <div class="pointer">
                <p class="lat_pointer">{{ stor.lat_pointer }}</p>
                <p class="lng_pointer">{{ stor.lng_pointer  }}</p>
                <p class="city_pointer">{{ stor.city_pointer }}</p>
                <p class="pseudo_pointer">{{ stor.pseudo_captures }}</p>
                <p class="date_pointer">{{ stor.date_pointer | date('d/m/Y') }}</p>
                <p class="avatar_pointer">{{ stor.avatar_captures }}</p>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}




{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('assets/css/style/history/history.min.css') }}">
{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('assets/js/infobubble.js')}}" charset="utf-8"></script>
    <script src="{{ asset('assets/js/scripts/history.js') }}"></script>
{% endblock %}
