{# This page inherits from base.html #}
{% extends 'layout.html.twig' %}

{# Define Title #}
{% block title %} Enregister une capture {% endblock %}

{#  Breadcrumb trail #}
{% set active_page = 'Capture' %}


{# Define Content #}
{% block content %}

    <div class="row">

        <h1> Enregistrer une capture </h1>

        <!-- Display Success Message -->
        {% if global.request.get('capture') == 'success' %}
            <div class="alert alert-success">
                <p>
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i> 
                    Félicitation, votre capture a été enregistré.
                </p>
            </div>
        {% endif %}

        <!-- Form: Book I have captured -->
        <form id="formCapturedBook" action="" method="POST">

            <!-- Id Book - Table Pointers -->
            <div class="form-group">
                <label for="id_book">Numéro unique inscript sur l'étiquette du livre *</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
                    {{ form_row(formCapture.id_book) }}
                </div>
                <p class="error alert alert-danger">Vous n'avez pas indiqué le numéro unique du livre</p>
                <p class="error alert alert-danger">Numéro incorrect - Doit contenir 8 chiffres</p>
            </div>
            <!-- address - Table Pointers -->
            <div class="form-group">
                <label for="address">Ville *</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    {{ form_row(formCapture.address) }}
                </div>
                <p class="error alert alert-danger">Vous n'avez pas indiqué votre ville</p>
                <p class="error alert alert-danger">Le nom de la ville est incorrecte</p>
            </div>
            <!-- city_pointer - Table Pointers -->
            {{ form_row(formCapture.city_pointer) }}
            <!-- lat_pointer - Table Pointers -->
            {{ form_row(formCapture.lat_pointer) }}
            <!-- lng_pointer - Table Pointers -->
            {{ form_row(formCapture.lng_pointer) }}
            <!-- Commentaire - Table Capture -->
            <div class="form-group">
                <label for="comment_capture">Commentaire</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-align-left"></i></span>
                    {{ form_row(formCapture.comment_capture) }}
                </div>
            </div>

            {{ form_row(formCapture._token) }}
            <!-- Submission -->
            <div class="form-group text-center">
                <input type="submit" name="btnSub" value="Entrer" id="btn_memberInscription" class="btn btn-success">
            </div>

        </form>

    </div>

{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {

            // Google Autocomplete
            function initializeCapture() {
                var input = document.getElementById('form_address');
                var autocomplete = new google.maps.places.Autocomplete(input);
                google.maps.event.addListener(autocomplete, 'place_changed', function () {
                    var place = autocomplete.getPlace();
                    document.getElementById('form_city_pointer').value = place.name;
                    document.getElementById('form_lat_pointer').value = place.geometry.location.lat();
                    document.getElementById('form_lng_pointer').value = place.geometry.location.lng();
                });
            }
            google.maps.event.addDomListener(window, 'load', initializeCapture); 
                        
        }) // document ready
    </script>


{% endblock %}