{# This page inherits from base.html #}
{% extends 'layout.html.twig' %}

{# Define Title #}
{% block title %} Inscription {% endblock %}

{#  Breadcrumb trail #}
{% set active_page = 'Inscription' %}

{# Define Content #}
{% block content %}




    <div class="row">

        <h1> Inscription </h1>

        <div class="col-md-offset-3 col-md-6">
            <!-- Inscription form -->
            <form id="formMemberInscription" action="" method="POST" enctype="multipart/form-data">

                <!-- Pseudo -->
                <div class="form-group">
                    <label for="pseudo_member">Pseudo *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        {{ form_row(form.pseudo_member) }}
                    </div>
                    <!-- Help-text -->
                    <p id="pseudo-helptext">Votre Pseudo doit contenir au moins 6 caractères et un 1 chiffre</p>
                    <!-- Pseudo Errors -->
                    <p class="error alert alert-danger">Vous n'avez pas indiqué votre Pseudo</p>
                    <p class="error alert alert-danger">Votre Pseudo doit contenir au moins 6 caractères et un 1 chiffre</p>
                    <p class="error alert alert-danger">Ce pseudo existe déjà</p>
                </div>
                <!-- Email -->
                <div class="form-group">
                    <label for="mail_member">Email *</label>
                    <div class="input-group">
                        <div class="input-group-addon">@</div>
                        {{ form_row(form.mail_member) }}
                    </div>
                    <p class="error alert alert-danger">Vous n'avez pas indiqué votre Email</p>
                    <p class="error alert alert-danger">Email Incorrect</p>
                </div>
                <!-- Password -->
                <div class="form-group">
                    <label for="pass_member">Mot de passe *</label>
                    <div class="input-group">
                        <div class="input-group-addon"><span class="ion-android-lock"></span></div>
                        {{ form_row(form.pass_member) }}
                    </div>
                    <!-- Help-text -->
                    <p id="pass-helptext">Votre mot de passe doit contenir au moins 8 caractères, une majuscule et un chiffre</p>
                    <!-- Password Errors -->
                    <p class="error alert alert-danger">Vous n'avez pas indiqué votre Mot de passe</p>
                    <p class="error alert alert-danger">Mot de passe doit contenir au moins 8 caractères</p>
                    <p class="error alert alert-danger">Le mot de passe doit contenir au moins une majuscule</p>
                    <p class="error alert alert-danger">Le mot de passe doit contenir au moins un chiffre</p>
                </div>
                <!-- Picture -->
                <div class="form-group">
                    <label for="avatar_member">Avatar</label>
                    <div class="input-group">
                        {{ form_row(form.avatar_member) }}
                    </div>
                    <p class="error alert alert-danger">L'image est trop lourde</p>
                    <p class="error alert alert-danger">L'image doit être au format: jpg, jpeg ou png</p>
                </div>
                    {{ form_row(form.role_member) }}
                    {{ form_row(form._token) }}
                <!-- Submission -->
                <div class="form-group text-center">
                    <input type="submit" name="btnSub" value="Entrer" id="btn_memberInscription" class="btn btn-success">
                </div>

            </form>
        </div> <!-- col-md -->

    </div> <!-- row -->



    </div> <!-- row -->

{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css" integrity="sha256-AWdeVMUYtwLH09F6ZHxNgvJI37p+te8hJuSMo44NVm0=" crossorigin="anonymous" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js" integrity="sha256-SUaao5Q7ifr2twwET0iyXVy0OVnuFJhGVi5E/dqEiLU=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('.dropify').dropify({
                messages: {
                    default: 'Glissez-d&eacute;posez un fichier ici ou cliquez',
                    replace: 'Glissez-d&eacute;posez un fichier ou cliquez pour remplacer',
                    remove:  'Supprimer',
                    error:   'D&eacute;sol&eacute;, le fichier trop volumineux'
                }	
            });
        })
    </script>
{% endblock %}
