{# This page inherits from base.html #}
{% extends 'layout.html.twig' %}

{# Define Title #}
{% block title %} Inscription {% endblock %}

{#  Breadcrumb trail #}
{% set active_page = 'Inscription' %}

{# Define Content #}
{% block content %}

    <div class="row">

        <h1> Inscription </h1>

        <div class="col-md-offset-3 col-md-6">

            {% if global.request.get('inscription') == 'exist' %}
                <div class="alert alert-danger">
                    <p><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    Ce pseudo existe déja.</p>
                </div>
            {% endif %}
            <!-- Inscription form -->
            <form id="formMemberInscription" action="" method="POST" enctype="multipart/form-data">

                <!-- Pseudo -->
                <div class="form-group">
                    <label for="pseudo_member">Pseudo *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        {{ form_widget(form.pseudo_member) }}
                    </div>
                    {{ form_errors(form.pseudo_member) }}
                    <p class="error alert alert-danger">Ce pseudo existe déjà</p>
                </div>
                <!-- Email -->
                <div class="form-group">
                    <label for="mail_member">Email *</label>
                    <div class="input-group">
                        <div class="input-group-addon">@</div>
                        {{ form_widget(form.mail_member) }}
                    </div>
                    {{ form_errors(form.mail_member) }}
                </div>
                <!-- Password -->
                <div class="form-group">
                    <label for="pass_member">Mot de passe *</label>
                    <!-- Help-text -->
                    <p id="pass-helptext">Votre mot de passe doit contenir au moins 6 caractères, une majuscule et un chiffre</p>
                    <!-- Password complexity -->
                    <p id="password_strength"></p>
                    <div class="input-group">
                        <div class="input-group-addon"><span class="ion-android-lock"></span></div>
                        {{ form_widget(form.pass_member.first) }}
                        {{ form_widget(form.pass_member.second) }}
                    </div>
                    {{ form_errors(form.pass_member.first) }}
                    {{ form_errors(form.pass_member.second) }}
                </div>
                <!-- Picture -->
                <div class="form-group">
                    <label for="avatar_member">Avatar</label>
                    <div class="input-group">
                        {{ form_row(form.avatar_member) }}
                    </div>
                </div>
                    {{ form_row(form.role_member) }}
                <!-- Captcha -->
                <div class="form-group">
                    <div class="input-group">
                        {{ form_widget(form.captcha) }}
                    </div>
                    {{ form_errors(form.captcha) }}
                </div>
                <!-- Terms and Conditions-->
                <div class="form-group">
                    <div class="input-group">
                        {{ form_label(form.termsAccepted) }}
                        {{ form_widget(form.termsAccepted) }}
                    </div>
                    {{ form_errors(form.termsAccepted) }}
                </div>
                <!-- Token -->
                    {{ form_row(form._token) }}
                <!-- Submission -->
                <div class="form-group text-center">
                    <input type="submit" name="btnSub" value="Entrer" id="btn_memberInscription" class="btn btn-success">
                </div>

            </form>
        </div> <!-- col-md -->

    </div> <!-- row -->

{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css" integrity="sha256-AWdeVMUYtwLH09F6ZHxNgvJI37p+te8hJuSMo44NVm0=" crossorigin="anonymous" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js" integrity="sha256-SUaao5Q7ifr2twwET0iyXVy0OVnuFJhGVi5E/dqEiLU=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {

            l = (l) => { 
                console.log(l)
            }

            $('.dropify').dropify({
                defaultFile: "{{ asset('assets/images/avatar/default.png') }}",
                messages: {
                    default: 'Glissez-d&eacute;posez un fichier ici ou cliquez',
                    replace: 'Glissez-d&eacute;posez un fichier ou cliquez pour remplacer',
                    remove:  'Supprimer',
                    error:   'D&eacute;sol&eacute;, le fichier trop volumineux'
                }
            });


            $("#form_pass_member_first").bind("keyup", function () {
                //TextBox left blank.
                if ($(this).val().length == 0) {
                    $("#password_strength").html("");
                    return;
                }
                //Regular Expressions.
                var regex = new Array();
                regex.push("[A-Z]"); //Uppercase Alphabet.
                regex.push("[a-z]"); //Lowercase Alphabet.
                regex.push("[0-9]"); //Digit.
                // regex.push("[$@$!%*#?&]"); //Special Character.
                var passed = 0;
                //Validate for each Regular Expression.
                for (var i = 0; i < regex.length; i++) {
                    if (new RegExp(regex[i]).test($(this).val())) {
                        passed++;
                    }
                }
                //Validate for length of Password.
                if (passed > 2 && $(this).val().length > 6) {
                    passed++;
                }
                //Display status.
                var color = "";
                var strength = "";
                switch (passed) {
                    case 0:
                    case 1:
                    case 2:
                    case 3:
                        strength = "Weak";
                        color = "red";
                        break;
                    case 4:
                        strength = "Strong";
                        color = "green";
                        break;
                    case 5:
                        strength = "Very Strong";
                        color = "darkgreen";
                        break;
                }
                $("#password_strength").html(strength);
                $("#password_strength").css("color", color);
            });


            // Show/Hide Mdp Help-text
            $("#pass-helptext").hide();
            
            $("#form_pass_member_first").focus(function() {
                $("#pass-helptext").show();
            });
            $("#form_pass_member_first").blur(function() {
                $("#pass-helptext").hide();
            });


        })
    </script>
{% endblock %}
