{# This page inherits from base.html #}
{% extends 'layout.html.twig' %}

{# Customized error messages #}
{% form_theme form 'form_errors.html.twig' %}

{#  Define Title #}
{% block title %} Créer un nouveau mot de passe {% endblock %}

{#  Breadcrumb trail #}
{% set active_page = 'resetPassword2' %}

{# Define Content #}
{% block content %}


    <div class="row">
        <div class="col-md-offset-3 col-md-6" id="marginReset2">
            <div class="card contour">
                <div class="titleForm text-center">        
                    <h1> Créer un nouveau mot de passe </h1>
                </div>

                <div class="contentForm">
                    <!-- Form: Reset Paasword -->
                    <form id="formResetPassword2" action="" method="POST">

                        <!-- Email -->
                        <div class="form-group">
                            <label for="mail_member">Email *</label>
                            <div class="input-group">
                                <div class="input-group-addon">@</div>
                                {{ form_widget(form.mail_member) }}
                            </div>
                            {{ form_errors(form.mail_member) }}
                        </div>
                        <!-- Password -->
                        <div class="form-group">
                            <label for="pass_member">Mot de passe *</label>
                            <!-- Help-text -->
                            <p id="pass-helptext">Votre mot de passe doit contenir au moins 6 caractères, une majuscule et un chiffre</p>
                            <!-- Password complexity -->
                            <p id="password_strength"></p>
                            <div class="input-group">
                                <div class="input-group-addon"><span class="ion-android-lock"></span></div>
                                {{ form_widget(form.pass_member.first) }}
                                {{ form_widget(form.pass_member.second) }}
                            </div>
                            <!-- Password Errors -->
                            {{ form_errors(form.pass_member.first) }}
                            {{ form_errors(form.pass_member.second) }}
                        </div>

                        {{ form_row(form._token) }}

                        <div class="form-group text-center">
                            <input type="submit" name="btnSub" value="Entrer" id="btn_memberInscription" class="btn btn-success">
                        </div>


                    </form>
                </div>
            </div>
        </div> <!-- col-md -->

    </div> <!-- row -->


{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #marginReset2 {
            min-height: 75vh
        }
    </style>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/scripts/resetPassword2.js') }}"></script>
{% endblock %}
