
<!-- classic menu-->
<div class="container">
	<nav class="navbar row">

		<!-- left-menu -->
		<div class="left-menu animation col-md-3 col-sm-4 col-xs-12">
			<a href="#" class="logo">
				<img class="img img-responsive" alt="Logo" src="{{ asset('assets/images/logo.png') }}" />
			</a>
		</div> <!-- left-menu -->


		<!-- right-menu -->
		<div class="right-menu col-md-5 col-sm-offset-4 col-sm-4 col-xs-12 displayFlex hidden-xs">

			<ul class="displayFlex">
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<li {% if active_page == 'Accueil' %} class="active"{% endif%}><a href="{{ path('livresVoyageurs_home') }}"> Accueil </a></li>
					<li><a href="{{ path('livresVoyageurs_deconnexion') }}"> Déconnexion </a></li>
				{% else %}
					<li class="animation" {% if active_page == 'Accueil' %} class="active"{% endif%}><a href="{{ path('livresVoyageurs_home') }}"> Accueil </a></li>
					<li class="animation" {% if active_page == 'Inscription' %} class="active"{% endif%}><a class="blackBorder" href="{{ path('livresVoyageurs_inscription') }}"> Inscription </a></li>
					<li class="animation" {% if active_page == 'Connexion' %} class="active"{% endif%}><a href="{{ path('livresVoyageurs_connexion') }}"> Connexion </a></li>
				{% endif %}
				{% if is_granted('ROLE_MEMBER') %}
					<li><a href="{{ path('livresVoyageurs_espace', {pseudo: app.user.pseudo_member} ) }}" class="blackBorder"> Mon Espace </a></li>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
					<li><a href="{{ path('livresVoyageurs_administrator', {pseudoAdmin: app.user.pseudo_member} ) }}"> Administration </a></li>
				{% endif %}
			</ul>

		</div> <!-- right-menu -->



		<!-- mobile menu-->
		<div class="menu-res hidden-lg hidden-md hidden-sm ">
			<div class="menu-res-inner">
				<ul class="displayFlex">
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						<li {% if active_page == 'Accueil' %} class="active"{% endif%}><a href="{{ path('livresVoyageurs_home') }}"> Accueil </a></li>
						<li><a href="{{ path('livresVoyageurs_deconnexion') }}"> Déconnexion </a></li>
					{% else %}
						<li class="animation" {% if active_page == 'Accueil' %} class="active"{% endif%}><a href="{{ path('livresVoyageurs_home') }}"> Accueil </a></li>
						<li class="animation" {% if active_page == 'Inscription' %} class="active"{% endif%}><a id="inscription" href="{{ path('livresVoyageurs_inscription') }}"> Inscription </a></li>
						<li class="animation" {% if active_page == 'Connexion' %} class="active"{% endif%}><a href="{{ path('livresVoyageurs_connexion') }}"> Connexion </a></li>
					{% endif %}
					{% if is_granted('ROLE_MEMBER') %}
						<li><a href="{{ path('livresVoyageurs_espace', {pseudo: app.user.pseudo_member} ) }}"> Mon Espace </a></li>
					{% endif %}
					{% if is_granted('ROLE_ADMIN') %}
						<li><a href="{{ path('livresVoyageurs_administrator', {pseudoAdmin: app.user.pseudo_member} ) }}"> Administration </a></li>
					{% endif %}
				</ul>
			</div>
		</div> <!-- mobile menu -->


	</nav>
</div> <!-- container -->
