
<!-- classic menu-->
<div class="container">
	<nav class="navigation row">

		<!-- second-menu -->
		<div class="col-xs-12 displayFlex hidden-xs">

			<ul class="displayFlex col-sm-6 col-sm-offset-6">
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<li class="animation col-sm-4 text-center" {% if active_page == 'Disponible' %} class="active"{% endif%}><a href="{{ path('livresVoyageurs_bookList') }}"> Livres Disponibles </a></li>
					<li class="animation col-sm-4 text-center" {% if active_page == 'Recherche' %} class="active"{% endif%}><a href="{{ path('livresVoyageurs_search') }}"> Recherche </a></li>
					<li class="animation col-sm-3 text-center" {% if active_page == 'Connexion' %} class="active"{% endif%}><a href="{{ path('livresVoyageurs_contact') }}"> Contact </a></li>
				{% else %}
					<li class="animation col-sm-4 text-center" {% if active_page == 'Disponible' %} class="active"{% endif%}><a href="{{ path('livresVoyageurs_bookList') }}"> Livres Disponibles </a></li>
					<li class="animation col-sm-5 text-center" {% if active_page == 'Capture' %} class="active"{% endif%}><a href="{{ path('livresVoyageurs_newCapture') }}"> Enregistrer une Capture </a></li>
					<li class="animation col-sm-4 text-center" {% if active_page == 'Recherche' %} class="active"{% endif%}><a href="{{ path('livresVoyageurs_search') }}"> Recherche </a></li>
					<li class="animation col-sm-3 text-center" {% if active_page == 'Connexion' %} class="active"{% endif%}><a href="{{ path('livresVoyageurs_contact') }}"> Contact </a></li>
				{% endif %}
			</ul>

			{# <div class="search-icon displayFlex">
				<div class="search-icon-inner">
					<i class="ion-ios-search-strong"></i>
				</div>
				<div class="search-box">
					<input type="text" placeholder="Un livre..." />
					<button>Rechercher</button>
				</div>
			</div> <!-- search-icon --> #}

		</div> <!-- right-menu -->



		<!-- mobile menu-->
		<div class="menu-res hidden-lg hidden-md hidden-sm ">
			<div class="menu-res-inner">
				<ul class="displayFlex">
                <li class="animation" {% if active_page == 'Disponible' %} class="active"{% endif%}><a href="{{ path('livresVoyageurs_bookList') }}"> Livres Disponibles </a></li>
                <li class="animation" {% if active_page == 'Capture' %} class="active"{% endif%}><a href="{{ path('livresVoyageurs_newCapture') }}"> Enregistrer une Capture </a></li>
                <li class="animation" {% if active_page == 'Recherche' %} class="active"{% endif%}><a href="{{ path('livresVoyageurs_search') }}"> Recherche </a></li>
                <li class="animation" {% if active_page == 'Connexion' %} class="active"{% endif%}><a href="{{ path('livresVoyageurs_contact') }}"> Contact </a></li>
			</ul>
			</div>
		</div> <!-- mobile menu -->


	</nav>
</div> <!-- container -->