{# This page inherits from base.html #}
{% extends 'layout.html.twig' %}

{# Customized error messages #}
{% form_theme formAddBook 'form_errors.html.twig' %}
{% form_theme formCapture 'form_errors.html.twig' %}
{% form_theme formAccount 'form_errors.html.twig' %}

{# Define Title #}
{% block title %} Mon Espace {% endblock %}

{#  Breadcrumb trail #}
{% set active_page = 'Espace' %}


{# Define Content #}
{% block content %}



    <div class="row">

        <div class="row">
            <div class="col-md-2 text-center hello">
                <div class="row">
                    <h1> Tableau de bord </h1>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <img class="img img-responsive img-circle" src="{{ asset('assets/images/avatar/' ~ app.user.avatar_member) }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3> Bonjour {{ app.user.pseudo_member }}</h3>
                        <p> Membre actif depuis le: {{ app.user.date_member | date("d/m/Y") }} </p>
                        <p> Email: {{ app.user.mail_member }} </p>
                    </div>
                </div>
            </div>

        <div class="col-md-10 tab-content">
            <!-- Centered Tabs -->
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="active"><a data-toggle="tab" href="#addBook" role="tab" aria-controls="addBook">Libérer un Livre</a></li>
                <li><a data-toggle="tab" href="#capture" role="tab" aria-controls="capture">Capturer un Livre</a></li>
                <li><a data-toggle="tab" href="#stickers" role="tab" aria-controls="stickers">Etiquettes Imprimables</a></li>
                <li><a data-toggle="tab" href="#bookList" role="tab" aria-controls="bookList">Suivre mes Livres</a></li>
                <li><a data-toggle="tab" href="#friendList" role="tab" aria-controls="friendList">Amis</a></li>
                <li><a data-toggle="tab" href="#account" role="tab" aria-controls="account">Mon Compte</a></li>
            </ul>


            <!-- Form: Add a book -->
            <div id="addBook" class="tab-pane fade in active" role="tabpanel">

                <div class="col-md-6">
                    <div class="card contour">
                        <div class="titleForm text-center">
                            <h2>
                                Créer un livre voyageur
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Vous souhaitez partager votre livre et suivre son chemin ? Utiliser ce formulaire pour les livres n'ayant pas encore été enregistré sur ce site"><span class="glyphicon glyphicon-question-sign"></span></a>
                            </h2>
                        </div>

                        <div class="contentForm">
                            {% if global.request.get('addBook') == 'success' %}
                                <div class="alert alert-success">
                                    <p>
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                        Votre livre a été enregistré.
                                    </p>
                                    <a href="{{ path('livresVoyageurs_espace_sticker', {pseudo: app.user.pseudo_member, uniqueId: global.request.get('idBook'), title: global.request.get('title')  } ) }}" title="Lien vers l'étiquette du livre" target="_blank">Cliquez sur ce lien pour télécharger l'étiquette de votre livre</a>
                                </div>
                            {% endif %}

                            <!-- Display ISBN API return -->
                            <div class="card">
                                <div class="col-md-3">
                                    <img class="card-img-top img img-responsive" id="bookImage" src="" alt="">
                                </div>
                                <div class="card-block col-md-9">
                                    <ul class="list-group list-group-flush" id="bookInfos"></ul>
                                </div>
                            </div>

                            <form id="formAddBook" action="" method="POST">

                                <!-- Id Member -->
                                {{ form_row(formAddBook.id_member) }}
                                <!-- Id Author -->
                                {{ form_row(formAddBook.authors) }}
                                <!-- Title -->
                                {{ form_row(formAddBook.title_book) }}
                                <!-- Summary -->
                                {{ form_row(formAddBook.summary_book) }}
                                <!-- Photo -->
                                {{ form_row(formAddBook.photo_book) }}
                                <!-- Languge -->
                                {{ form_row(formAddBook.language_book) }}

                                <!-- ISBN -->
                                <div class="form-group">
                                    <label for="ISBN_book">ISBN: Numéro à 13 chiffres <br> Inscript au-dessus du code barre du livre *</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
                                        {{ form_widget(formAddBook.ISBN_book) }}
                                    </div>
                                    <p class="error alert alert-danger">{{ form_errors(formAddBook.ISBN_book) }}</p>
                                    <p class="error alert alert-danger" id="isbnInconnu">ISBN inconnu</p>
                                </div>
                                <!-- Category -->
                                <div class="form-group">
                                    <label for="id_category">Catégorie</label>
                                    <div class="input-group">
                                        {{ form_row(formAddBook.id_category) }}
                                    </div>
                                    <p class="error alert alert-danger">Vous n'avez pas indiqué la catégorie</p>
                                </div>
                                <!-- address - Table Startpoints -->
                                <div class="form-group">
                                    <label for="address">Ville *</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                        {{ form_widget(formAddBook.addressStart) }}
                                    </div>
                                    <p class="error alert alert-danger">{{ form_errors(formAddBook.addressStart) }}</p>
                                    <p class="error alert alert-danger">Le nom de la ville est incorrecte</p>
                                </div>
                                    <!-- city_starpoint - Table Startpoints -->
                                    {{ form_row(formAddBook.city_startpoint) }}
                                    <!-- lat_starpoint - Table Startpoints -->
                                    {{ form_row(formAddBook.lat_startpoint) }}
                                    <!-- lng_starpoint - Table Startpoints -->
                                    {{ form_row(formAddBook.lng_startpoint) }}
                                <!-- Disponibility -->
                                <div class="form-group">
                                    <label for="disponibility_book">Mode de libération</label>
                                    <div class="input-group">
                                        <div>
                                            {{ form_widget(formAddBook.disponibility_book.0) }}
                                            {{ form_label(formAddBook.disponibility_book.0) }}
                                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Libérez votre livre dans un lieu publique (parc, gare, café,...)"><span class="glyphicon glyphicon-question-sign"></span></a>
                                        </div>
                                        <div>
                                            {{ form_widget(formAddBook.disponibility_book.1) }}
                                            {{ form_label(formAddBook.disponibility_book.1) }}
                                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Partagez votre livre avec un membre du site"><span class="glyphicon glyphicon-question-sign"></span></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Token -->
                                {{ form_row(formAddBook._token) }}
                                <!-- Submission -->
                                <div class="form-group text-center">
                                    <input type="submit" name="btnSub" value="Ajouter" class="btn btn-success">
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

                <div class="col-md-offset-1 col-md-5">
                    <!-- Form: Captured book liberation -->
                    <div class="card contour">
                        <div class="titleForm text-center">
                            <h2>
                                Libérer un livre voyageur
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Vous souhaitez remettre en liberté un livre possédant déjà une étiquette ?"><span class="glyphicon glyphicon-question-sign"></span></a>
                            </h2>
                        </div>

                        <div class="contentForm">
                            {% if global.request.get('liberation') == 'success' %}
                                <div class="alert alert-success">
                                    <p class="text-center">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                        Votre libération a été enregistrée.
                                    </p>
                                </div>
                            {% endif %}
                            {% if global.request.get('liberation') == 'fail' %}
                                <div class="alert alert-danger">
                                    <p class="text-center">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                        Numéro unique incorrect
                                    </p>
                                </div>
                            {% endif %}

                            <form id="formLiberationBook" action="" method="POST">

                                <!-- Id Book -->
                                <div class="form-group">
                                    <label for="id_books">Numéro unique <br> Inscript sur l'étiquette du livre *</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
                                        {{ form_widget(formLiberation.id_books) }}
                                    </div>
                                    <p class="error alert alert-danger">{{ form_errors(formLiberation.id_books) }}</p>
                                </div>

                                {{ form_row(formLiberation._token) }}
                                <!-- Submission -->
                                <div class="form-group text-center">
                                    <input type="submit" name="btnSub" value="Remettre en liberté" class="btn btn-success">
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div> <!-- addBook -->





            <!-- Form: Book I have captured -->
            <div id="capture" class="tab-pane fade" role="tabpanel">

                <div class="col-md-offset-2 col-md-7" id="marginCapt">
                    <div class="card contour">
                        <div class="titleForm text-center">
                            <h2>
                                Déclarer une capture
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Vous avez retrouvez un livre voyageur? Merci d'aider à retracer son chemin"><span class="glyphicon glyphicon-question-sign"></span></a>
                            </h2>
                        </div>

                        <div class="contentForm">
                            {% if global.request.get('capture') == 'success' %}
                                <div class="alert alert-success">
                                    <p class="text-center">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                        Votre capture a été enregistré.
                                    </p>
                                </div>
                            {% endif %}
                            {% if global.request.get('capture') == 'fail' %}
                                <div class="alert alert-danger">
                                    <p class="text-center">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                        Numéro unique incorrect
                                    </p>
                                </div>
                            {% endif %}

                            <form id="formCapturedBook" action="" method="POST">

                                <!-- Id Book - Table Pointers -->
                                <div class="form-group">
                                    <label for="id_book">Numéro unique <br> Inscript sur l'étiquette du livre *</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
                                        {{ form_widget(formCapture.id_book) }}
                                    </div>
                                    <p class="error alert alert-danger">{{ form_errors(formCapture.id_book) }}</p>
                                </div>
                                <!-- address - Table Pointers -->
                                <div class="form-group">
                                    <label for="address">Ville *</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                        {{ form_widget(formCapture.address) }}
                                    </div>
                                    <p class="error alert alert-danger">{{ form_errors(formCapture.address) }}</p>
                                    <p class="error alert alert-danger">Le nom de la ville est incorrecte</p>
                                </div>
                                <!-- city_pointer - Table Pointers -->
                                {{ form_row(formCapture.city_pointer) }}
                                <!-- lat_pointer - Table Pointers -->
                                {{ form_row(formCapture.lat_pointer) }}
                                <!-- lng_pointer - Table Pointers -->
                                {{ form_row(formCapture.lng_pointer) }}
                                <!-- Commentaire - Table Capture -->
                                <div class="form-group">
                                    <label for="comment_capture">Commentaire</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-align-left"></i></span>
                                        {{ form_row(formCapture.comment_capture) }}
                                    </div>
                                </div>

                                {{ form_row(formCapture._token) }}
                                <!-- Submission -->
                                <div class="form-group text-center">
                                    <input type="submit" name="btnSub" value="Déclarer comme capturé" class="btn btn-success">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div> <!-- capture -->



            <!-- Stickers -->
            <div id="stickers" class="tab-pane fade" role="tabpanel">

                <div class="col-xs-10 col-xs-offset-2">
                    <h2> Etiquettes à imprimer </h2>
                    <div class="row" id="marginSticker">
                        {% if bookList is empty %}
                            <div>
                                <p> Vous n'avez pas encore libéré de livre.</p>
                            </div>
                        {% else %}
                            {% for book in bookList | slice(0,10) %}
                                <ul class="list-group list-group-flush">
                                    <li>
                                        <a href="{{ path('livresVoyageurs_espace_sticker', { pseudo: app.user.pseudo_member, uniqueId: book.id_book , title: book.title_book } ) }}" title="Lien vers l'étiquette du livre" target="_blank">
                                        Etiquette du livre: {{ book.title_book }}
                                        </a>
                                    </li>
                                </ul>
                            {% endfor %}
                        {% endif %} <!-- list empty -->
                    </div>  <!-- row -->
                </div>
            </div> <!-- stickers -->



            <!-- List: Books I liberated -->
            <div id="bookList" class="tab-pane fade" role="tabpanel">

                <h2> Livres </h2>
                <div class="row" id="marginBooks">
                    {% if bookList is empty %}
                        <div>
                            <p> Vous n'avez pas encore libéré de livre.</p>
                        </div>
                    {% else %}

                    {# <div class="container">
                        <img src="img_avatar.png" alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text">Hello World</div>
                        </div>
                    </div> #}

                        {% for book in bookList %}
                            {% if book.disponibility_book == 0 %}
                                <div class="card col-sm-3 col-xs-6 bookCard">
                                    <img class="img imgCard" src="{{ book.photo_book }}" alt="Card image cap">
                                    <li class="list-group-item"><h4 class="card-title">{{ book.title_book }}</h4></li>

                                    <div class="overlay">


                                            <p>Auteur: {{ book.firstname_author }} {{ book.lastname_author }}</p>
                                            <p id="unique">Numéro unique: {{ book.id_book }}</p>
                                            <p id="free">Livre libéré</p>
                                            <a
                                                href="{{ path('livresVoyageurs_history', {id_book: book.id_book } ) }}" title="Lien vers l'étiquette du livre"
                                                target="_blank" class="btn btn-primary col-md-12">
                                                    Suivre son chemin
                                            </a>

                                    </div> <!-- card block -->
                                </div> <!-- card col-md -->

                            {% else %}
                                <div class="card col-sm-3 col-xs-6 bookCard">
                                    <img class="img imgCard" src="{{ book.photo_book }}" alt="Card image cap">
                                    <li class="list-group-item" style="background-color:#e7ffe7"><h4 class="card-title">{{ book.title_book }}</h4></li>
                                    <div class="overlay">

                                            <p>Auteur: {{ book.firstname_author }} {{ book.lastname_author }}</p>
                                            <p>Numéro unique: {{ book.id_book }}</p>
                                            <div class="card-footer text-muted textOverlay">
                                                <form id="formChangeDispo" action="{{ path('livresVoyageurs_espace_post', {pseudo: app.user.pseudo_member} ) }}" method="post">
                                                    <!--  ID BOOK -->
                                                    <input type="hidden" value="{{book.id_book}}" id="id_book" name="id_book">
                                                    <!--  Disponibility -->
                                                    <input type="hidden" value="0" id="disponibility_book" name="disponibility_book">
                                                    <!-- Submission -->
                                                    <div class="form-group text-center">
                                                        <input type="submit" name="btnSub" value="Déclarer comme libéré" class="btn btn-success col-md-12">
                                                    </div>
                                                </form>
                                            </div>
                                            <a
                                                href="{{ path('livresVoyageurs_history', {id_book: book.id_book } ) }}" title="Lien vers l'histoire du livre"
                                                class="btn btn-primary col-md-12">
                                                    Suivre son chemin
                                            </a>
                                    </div> <!-- card block -->
                                </div> <!-- card col-md -->
                            {% endif %} <!-- disponibility -->
                        {% endfor %}
                    {% endif %} <!-- list empty -->
                </div> <!-- row -->
            </div> <!-- bookList -->



            <!-- List friends / demands -->
            <div id="friendList" class="tab-pane fade" role="tabpanel">


                <div class="col-xs-10 col-xs-offset-2" id="marginFriends">
                    {# {{ dump(pendingList)}} #}
                    {% if not pendingList is empty %}
                        <h2> En attente de réponse </h2>
                        {% for pending in pendingList %}
                            {% if pending.id_member_1 == app.user.id_member %}
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img class="img img-responsive" src="{{ asset('assets/images/avatar/' ~  pending.avatar_member_2) }}" alt="Card image cap">
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title"> {{ pending.pseudo_member_2 }} </h4>
                                                <a href="{{ path('livresVoyageurs_acceptFriend', {pseudo:  pending.pseudo_member_2} ) }}" alt="accepter la demande de contact" class="btn btn-primary"> Accepter * </a>
                                                <a href="{{ path('livresVoyageurs_declineFriend', {pseudo:  pending.pseudo_member_2} ) }}" alt="refuser la demande de contact" class="btn btn-primary"> Refuser </a>
                                                <p class="card-text"> * En cliquant sur ce bouton, j'accepte de transmettre mon adresse e-mail à ce contact</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img class="card-img-top img img-responsive" src="{{ asset('assets/images/avatar/' ~ pending.avatar_member_1) }}" alt="Card image cap">
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title"> {{ pending.pseudo_member_1 }} </h4>
                                                <a href="{{ path('livresVoyageurs_acceptFriend', {pseudo:  pending.pseudo_member_1} ) }}" alt="accepter la demande de contact" class="btn btn-primary"> Accepter * </a>
                                                <a href="{{ path('livresVoyageurs_declineFriend', {pseudo:  pending.pseudo_member_1} ) }}" alt="refuser la demande de contact" class="btn btn-primary"> Refuser </a>
                                                <p class="card-text"> * En cliquant sur ce bouton, j'accepte de transmettre mon adresse e-mail à ce contact</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {# {{ dump(friendList) }} #}
                    {% if friendList is empty %}
                        <div>
                            <h2> Contacts </h2>
                            <p> Vous n'avez pas encore de contact.</p>
                        </div>
                    {% else %}
                        <h2> Contacts </h2>
                        {% for friend in friendList %}
                            {% if friend.id_member_1 == app.user.id_member %}
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img class="img img-responsive" src="{{ asset('assets/images/avatar/' ~  friend.avatar_member_2) }}" alt="Card image cap">
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title"> {{ friend.pseudo_member_2 }} </h4>
                                            <p class="card-text"> <a href="mailto:{{friend.mail_member_2}}">{{ friend.mail_member_2 }}</a> </p>
                                            <a href="{{ path('livresVoyageurs_blockFriend', {pseudo:  friend.pseudo_member_2} ) }}" alt="bloquer ce contact" class="btn btn-primary"> Supprimer ce contact </a>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img class="card-img-top img img-responsive" src="{{ asset('assets/images/avatar/' ~ friend.avatar_member_1) }}" alt="Card image cap">
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title"> {{ friend.pseudo_member_1 }} </h4>
                                            <p class="card-text"> {{ friend.mail_member_1 }} </p>
                                            <a href="{{ path('livresVoyageurs_blockFriend', {pseudo:  friend.pseudo_member_1} ) }}" alt="bloquer ce contact" class="btn btn-primary"> Supprimer ce contact </a>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div> <!-- friendList -->


            <!-- Form: Personal data management -->
            <div id="account" class="tab-pane fade">
                <div class="col-md-6">
                    <div class="card contour">

                        <div class="titleForm text-center">
                            <h2> Compte </h2>
                        </div>

                        <div class="contentForm">

                            {% if global.request.get('account') == 'success' %}
                                <div class="alert alert-success">
                                    <p>
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                        Votre compte a été modifié avec succès.
                                    </p>
                                </div>
                            {% endif %}

                            <form id="formMemberModification" action="" method="POST" enctype="multipart/form-data">

                                <!-- Pseudo -->
                                <div class="form-group">
                                    <label for="pseudo_member">Pseudo *</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        {{ form_widget(formAccount.pseudo_member) }}
                                    </div>
                                    <!-- Pseudo Errors -->
                                    <p class="error alert alert-danger">{{ form_errors(formAccount.pseudo_member) }}</p>
                                    <p class="error alert alert-danger">Ce pseudo existe déjà</p>
                                </div>
                                <!-- Email -->
                                <div class="form-group">
                                    <label for="mail_member">Email *</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">@</div>
                                        {{ form_widget(formAccount.mail_member) }}
                                    </div>
                                    <p class="error alert alert-danger">{{ form_errors(formAccount.mail_member) }}</p>
                                </div>
                                <!-- Picture -->
                                <div class="form-group">
                                    <label for="avatar_member">Avatar</label>
                                    <div class="input-group">
                                        {{ form_row(formAccount.avatar_member) }}
                                    </div>
                                </div>
                                <!-- Token -->
                                {{ form_row(formAccount._token) }}
                                <!-- Submission -->
                                <div class="form-group text-center">
                                    <input type="submit" name="btnSub" value="Modifier" class="btn btn-success">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                <!-- Form: Password management -->
                <div class="col-md-offset-1 col-md-5">
                    <!-- Form: Captured book liberation -->
                    <div class="card contour">

                        <div class="titleForm text-center">
                            <h2> Mot de Passe </h2>
                        </div>

                        <div class="contentForm">

                            {% if global.request.get('pass') == 'success' %}
                                <div class="alert alert-success">
                                    <p>
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                        Votre mot de passe a été modifié avec succès.
                                    </p>
                                </div>
                            {% endif %}

                            <form id="formPassModification" action="" method="POST">

                                <!-- Password -->
                                <div class="form-group">
                                    <label for="pass_member">Modifier mon mot de passe *</label>
                                    <!-- Help-text -->
                                    <p id="pass-helptext">Votre mot de passe doit contenir au moins 6 caractères, une majuscule et un chiffre</p>
                                    <!-- Password complexity -->
                                    <p id="password_strength"></p>
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="ion-android-lock"></span></div>
                                        {{ form_widget(formAccountPass.pass_member.first) }}
                                        {{ form_widget(formAccountPass.pass_member.second) }}
                                    </div>
                                    <!-- Password Errors -->
                                    {{ form_errors(formAccountPass.pass_member.first) }}
                                    {{ form_errors(formAccountPass.pass_member.second) }}
                                </div>
                                <!-- Token -->
                                {{ form_row(formAccountPass._token) }}
                                <!-- Submission -->
                                <div class="form-group text-center">
                                    <input type="submit" name="btnSub" value="Modifier" class="btn btn-success">
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                <!-- Delete account -->
                <div class="col-md-offset-1 col-md-5">
                    <div class="card contour deleteDiv">

                        <div class="titleForm text-center">
                            <h2> Supprimer mon compte </h2>
                        </div>

                        <div class="contentForm text-center">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
                                Supprimer
                            </button>
                        </div>
                    </div>
                </div>

                <div class="modal fade" tabindex="-1" role="dialog" id="myModal" >
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title text-center">Suppression de compte</h4>
                            </div>
                            <div class="modal-body">
                                <p class="text-center">Etes-vous sûr de vouloir supprimer votre compte?<br>
                                    Cette action sera irréversible
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                <a class="btn" href="{{ path('livresVoyageurs_espace_delete', {pseudo:  app.user.pseudo_member} )  }}"> Supprimer </a>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->


            </div> <!-- Account -->

        </div> <!-- col-md-6 -->
    </div> <!-- row -->

{% endblock %}



{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css" integrity="sha256-AWdeVMUYtwLH09F6ZHxNgvJI37p+te8hJuSMo44NVm0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ asset('assets/css/style/espacePerso/espacePerso.min.css') }}">
{% endblock %}



{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js" integrity="sha256-SUaao5Q7ifr2twwET0iyXVy0OVnuFJhGVi5E/dqEiLU=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            // Images
            $('.dropify').dropify({
                defaultFile: "{{ asset('assets/images/avatar/' ~ app.user.avatar_member) }}",
                messages: {
                    default: 'Glissez-d&eacute;posez un fichier ici ou cliquez',
                    replace: 'Glissez-d&eacute;posez un fichier ou cliquez pour remplacer',
                    remove:  'Supprimer',
                    error:   'D&eacute;sol&eacute;, le fichier trop volumineux'
                }
            });
        });
    </script>
    <script src="{{ asset('assets/js/jquery.mask.js') }}"></script>
    <script src="{{ asset('assets/js/scripts/espacePerso.js') }}"></script>
{% endblock %}
