{% block sticker %}
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <title>Etiquette</title>
            <link rel="stylesheet" href="css/bootstrap.css">
            <link rel="stylesheet" href="css/sticker.css">
        </head>
        <body>
            <h1>
                Les Livres Voyageurs
            </h1>
            <div id="sticker">
                <span><img src="images/logo.png" alt="logo livres Voyageurs"></span>
                <div id="texte">
                    <p>
                        Si vous avez trouvez ce livre, merci de vous rendre sur le site livresVoyageurs afin de saisir le numéro unique figurant sur cette étiquette.
                    </p>
                    <p>
                        Titre:
                        {{ title }}
                    </p>
                    <p>
                        Numéro unique :
                        {{ uniqueId }}
                    </p>
                    <p>
                        Libéré le:
                        {{ 'now' | date("d/m/Y") }}
                    </p>
                </div>

            </div>

            <hr>

            <div id="sticker2">
                <p>
                    Je ne suis ni perdu, ni oublié...
                    Je suis un livre voyageur. Rendez vous sur
                    <strong>www.livresVoyageurs.com</strong>
                    avec le numéro unique ci-dessous pour indiquer où j'ai fait étape.
                </p>
                <div class="alert alert-info">
                    <p class="text-center">
                        <strong>Numéro unique :
                            {{ uniqueId }}</strong>
                    </p>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <p>
                            Titre:
                            {{ title }}
                        </p>
                        <p>
                            Libéré le:
                            {{ 'now' | date("d/m/Y") }}
                        </p>
                    </div>
                    <div class="col-xs-4">
                        <img src="images/logo.png" alt="logo livres Voyageurs" class="img img-responsive img-thumbnail">
                    </div>
                </div>
            </div>

        </body>
    </html>
{% endblock %}
